.container {
  background-color: lightblue;
  margin-bottom: 20px;
}

.container-fluid {
  background-color: lightpink;
}

.col, .spe {
  text-align: center;
  border: 1px solid black;
}

.vid {
  width: 320px;
  height: 180px;
}